header {
    background: #2E948A; 
    color:white; 
  
}

.header{
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.title{
    font-size: 2.75em;
}