header{
    background: #2E948A; 
    color:white; 

}

.header-content{
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
    padding-inline: 1.25em;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.title{
    font-size: 2.75em;
}
